<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

    <!-- Belirtilen paket altındaki @Component, @Service, @Repository, @Controller, @RestController vb. anotasyonlu sınıfları tarayıp otomatik olarak Spring konteynerine bean olarak eklememi sağlar. -->
    <context:component-scan base-package="tr.com.huseyinaydin.*" />

    <!-- @Controller, @RequestMapping, @GetMapping, @PostMapping vb. anotasyonlarla çalışan Spring MVC altyapısını (handler mapping, message converter, validation vb.) otomatik olarak devreye alır. -->
    <mvc:annotation-driven />

    <!-- @Transactional anotasyonunu okuyarak transaction yönetimini Spring'e devreder ve gerekli durumlarda otomatik olarak begin/commit/rollback yapılmasını sağlar. -->
    <tx:annotation-driven />
</beans>